 body {
     font-family: "微软雅黑";
 }
 
 .turb .panel {
     border-radius: 0px;
 }
 
 .turb .panel-heading {
     border-radius: 0px;
     background: #1fa1ef;
     border: none;
 }
 
 .turb .panel-primary {
     border: 1px solid #1fa1ef;
 }
 
 .panel-body h4 {
     text-align: center;
     color: #ffffff;
     background: #ffbdbd;
     line-height: 35px;
     padding: 0px;
     color: #ff0000;
     margin: 0px;
 }
 
 .tab-content {
     border-top: 0px;
     border-radius: 0px 0px 5px 5px;
 }
 
 .nav-tabs a {
     color: #1fa1ef;
 }
 
 .pvwg {
     padding: 0px;
     margin: auto;
     border: 1px solid #ffbdbd;
     margin-top: 5px;
     border-radius: 5px;
     height: 227px;
 }
 
 .pvwg .col-md-4 {
     text-align: right;
     color: #FF0000;
     /*font-weight: bold;*/
 }
 
 .carousel-indicators {
     display: none !important;
 }
 
 .header {
     height: 100px;
     /*background: #f00;*/
     /*margin-top: 50px;*/
 }
 
 .on1 {
     width: 100%;
     height: 100px;
     background: #f00;
     padding: 0px;
 }
 
 .on2 {
     width: 100%;
     height: 100px;
     background: #428fdf;
 }
 
 .on3 {
     width: 100%;
     height: 100px;
     background: #428fdf;
 }
 
 .on4 {
     width: 100%;
     height: 100px;
     background: #32bfff;
 }
 
 .on5 {
     width: 100%;
     height: 100px;
     background: #f18b18;
 }
 
 .on6 {
     width: 100%;
     height: 100px;
     background: #40cbe7;
 }
 
 .on7 {
     width: 100%;
     height: 100px;
     background: #ff701e;
 }
 
 .on8 {
     width: 100%;
     height: 100px;
     background: #ff6038;
 }
 
 .on9 {
     width: 100%;
     height: 100px;
     background: #7e95f7;
 }
 
 .on10 {
     width: 100%;
     height: 100px;
     background: #ff2848;
 }
 
 .on11 {
     width: 100%;
     height: 100px;
     background: #4097ff;
 }
 
 .on12 {
     width: 100%;
     height: 100px;
     float: right;
     background: #129dff;
     padding: 0px;
 }
 
 .carousel-control {
     width: 5%;
     line-height: 100px;
     height: 100px;
 }
 
 .header .col-md-1 {
     text-align: center;
     height: 100px;
     color: #fff;
 }
 
 .header .row {
     border-radius: 5px;
     margin: 0 auto;
 }
 
 .header {
     border-radius: 5px;
 }
 
 .header h3 {
     font-weight: bold;
     color: #FFFFFF;
 }
 
 .header p {
     color: #FFFFFF;
 }
 
 .pvwg li {
     list-style: none;
     padding: 0% 5%;
     line-height: 30px;
     font-size: 1rem;
 }
 
 .pvwg-title {
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
 }
 
 .row {
     clear: both;
 }
 
 .panel-body {
     padding: 15px 0px !important;
 }
 
 .common-title {
     padding: 0 0 0 10px;
     color: #1fa1ef;
     font-size: 1.5rem;
     margin: 0px;
 }
 
 .c-table {
     width: 100%;
     border-collapse: collapse;
     empty-cells: show;
 }
 
 .c-table thead th {
     color: #1fa1ef;
 }
 
 .c-table td {
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
 }
 
 .d-tables {
     table-layout: fixed
 }
 
 .d-tables thead th,
 .d-tables tbody td {
     text-align: center;
 }
 
 .c-table tr {
     height: 40px;
     border-bottom: 1px solid #f0f0f0;
 }
 
 .borderno {
     padding: 0px;
     margin-bottom: 0px;
 }
 
 .borderno li {
     list-style: none;
     line-height: 45px;
     font-size: 1.2rem;
     border-bottom: 1px solid #ddd;
 }
 
 .borderno li:last-child {
     border-bottom: 0px;
 }
 
 .borderno .col-md-3 {
     text-align: center;
     color: #FF0000;
     /*font-weight: bold;*/
 }
 
 .borderno .col-md-2 {
     color: #1fa1ef;
     text-align: center;
 }
 
 .jfuj {
     color: #333;
 }
 
 .nav-tabs>li.active>a,
 .nav-tabs>li.active>a:hover,
 .nav-tabs>li.active>a:focus {
     border: 1px solid #ffbdbd;
     border-top: 0px;
     background: #f00;
     color: #fff;
     border-bottom: 0px;
 }
 
 .turb {
     border-radius: 5px;
     margin-top: 2%;
 }
 
 .turb .modal-title .common-title {
     line-height: 50px;
     font-weight: bold;
     border-bottom: 1px solid #ffbdbd;
 }
 
 .fyf {
     font-weight: bold;
     padding-right: 0.5%;
 }
 
 .yeler .common-title {
     color: #ff0000;
 }
 
 .navxaqc {
     float: right;
     border: none;
     height: 51px;
 }
 
 .navxaqc a {
     color: #FF0000;
 }
 
 .navxaqca {
     border: none !important;
 }
 
 .ralp {
     border: 1px solid #cdcdcd;
     border-radius: 5px;
     padding: 0px;
     margin-top: 2%;
     margin-bottom: 2%;
 }
 
 .bof {
     margin-bottom: 4%;
     border: 1px solid #ffbdbd;
 }
 
 .nav>li>a {
     position: relative;
     display: block;
     border-radius: 0px;
     padding: 15px 15px;
 }
 
 .bof-db {
     border: 1px solid #1fa1ef;
 }
 
 .bof-db .common-title {
     color: #1fa1ef;
     border-bottom: 1px solid #1fa1ef !important;
 }
 
 .bof-db .active a {
    
     border: none !important;
 }
 
 .bof-a li a {
     color: #1fa1ef;
 }